/* font */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    background-color: hsl(0, 0%, 15%);
    /* font stuff */
    font-family: "Rubik", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2rem;
    color: hsl(0, 0%, 22%);
    text-align: center;
    letter-spacing: 0.05em;
    
}

h1 {
    line-height: 1.6rem;
}

/* header */
header {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-image: url(images/site/tape.webp);
}

header h1 {
    font-size: 1.6rem;
    line-height: 1.2rem;
}

header h2 {
    font-size: 1.2rem;
    text-decoration: underline;
}

/* the thing that makes it fit right */
body {
    display: grid;
    grid-template-columns: 260px 1fr;
    grid-template-rows: auto 1fr;
    min-height: 100%;
}

/* sidebar */
aside {
    grid-column: 1;
    grid-row: 2;
    padding: 20px;
    background-image: url(images/site/graph-paper.jpg);
    background-size: 1500px;

    
}

aside ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

aside ul li img {
    width: 220px;
    display: block;
}

aside nav ul li a {
    position: relative;
    display: inline-block;
}

aside nav ul li p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 100%;
    height: 100%;
    opacity: 0;
    /*makes it not here until hover */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    /* background gradient for text */
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.233) 0%,
            rgba(0, 0, 0, 0.5) 25%,
            rgba(0, 0, 0, 0.5) 75%,
            rgba(0, 0, 0, 0.315) 100%);
}

aside nav ul li a:hover p {
    opacity: 1;
}

/* content space */
main {
    background-image: url(images/site/paper.jpg);
    background-size: cover;
    background-attachment: scroll;
         box-shadow: 0px 0px 30px rgb(0, 0, 0,0.3) inset;
}

main p {
    padding: 20px;
}

.content-section {
    display: flex;
    margin: 20px;
}

main img {
    width: 600px;
    height: auto;
    max-width: 40vw;
    object-fit: cover;
    box-shadow: 0 0px 100px rgba(0, 0, 0, 0.3);
}