/* font */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    background-color: hsl(0, 0%, 15%);
    /* font stuff */
    font-family: "Outfit", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.3rem;
    color: hsl(0, 0%, 22%);
    text-align: center;
    letter-spacing: 0.05em;
}
/* header */
header {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #a7a7a7;
}

header h1 {
    font-size: 1.6rem;
    /* Title size */
}

/* sidebar */
body {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: auto 1fr;
    min-height: 100%;
}
aside {
    grid-column: 1;
    grid-row: 2;
    padding: 20px;
    background-color: #4c4c4c;
}

aside ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

aside ul li img {
    width: 200px;
    display: block;
}
aside nav ul li a {
  position: relative;
  display: inline-block;
}

aside nav ul li p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  opacity: 0;
  margin: 0; 
  display: flex;
  justify-content: center; 
  align-items: center;
}

aside nav ul li a:hover p {
  opacity: 1;
}




/* content */

main {
 background-image: url(images/site/paper.jpg);
 background-size: cover;
 background-attachment: scroll;
}
main p {
 padding: 20px;
}
.content-section {
    display: flex;
}
main img {
    width: 600px;
    height: auto;
    max-width: 40vw;
    object-fit: cover;
  box-shadow: 0 0px 100px rgba(0, 0, 0, 0.3);
}
.content-section {
    margin: 20px;
}

